{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content%}
  <h1>Check</h1>
{% endblock%}














{# <html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>{{content}}</p>
    <p>{{r}}</p>
    {% for x in range(10) %}
      {% if x%2 == 1 %}
        <p>{{x}}</p>
      {% endif %}
    {% endfor %}

    {% for x in content %}
      <p>{{x}}</p>
      {# {% if x == "el" %}
      {% elif %}

      {% else %}

      {% endif %} #}
    {# {% endfor %}
  </body>

</html>  #}
